[Unit]
Description=HelpBot Daemon
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/scripts/helpbot/
ExecStart=/usr/bin/env bash -c 'cd /scripts/helpbot/ && source /scripts/helpbot/venv/bin/activate && /scripts/helpbot/venv/bin/python /scripts/helpbot/main.py > /dev/null 2>&1'

[Install]
WantedBy=multi-user.target
