[Unit]
Description=HelpBot Daemon
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/scripts/HelpBot/
ExecStart=/usr/bin/env bash -c 'cd /scripts/HelpBot/ && source /scripts/HelpBot/venv/bin/activate && /scripts/HelpBot/venv/bin/python /scripts/HelpBot/main.py > /dev/null 2>&1'

[Install]
WantedBy=multi-user.target
